<presentation
  id="presentation"
  [theme]="'light'"
  [showProgressBar]="true"
  [cursorType]="'angle'"
  [cursorPosition]="'left-right'">

  <slide>
    <img src="./assets/img/chirimoya.svg" width="400px">
    <h1>Chirimoya</h1>
    <h3>Presentation software based on Angular</h3>
  </slide>

  <slide>
    <h1>Slide 2</h1>
    <p>Lorem fistrum de la pradera condemor qué dise usteer diodenoo pupita pecador ahorarr a gramenawer no puedor pupita.</p>
  </slide>

  <slide>
    <h1>Unordered list</h1>
    <ul>
      <li>Benemeritaarapetecan al ataquerl. </li>
      <li>Condemor mamaar.</li>
      <li>No te digo trigo por no llamarte Rodrigor</li>
      <li>A gramenawer de la pradera</li>
    </ul>
  </slide>

  <slide>
    <h1>Slide 4</h1>
    <p>Bla bla bla...</p>
  </slide>

  <slide>
    <h1>Slide 5</h1>
    <p>Bla bla bla...</p>
  </slide>
</presentation>

<!--
  Chirimoya cheat sheet
  =====================

  presentation
  ============

  theme: light, dark
  showProgressBar: true, false
  cursorType: angle, angle-animated, arrow, arrow-animated, triangle
  cursorPosition: botton-right, botton-center, left-right

  IMPORTANT: Notice the simple quotes for strings.
  For example:
    [cursorType]="'arrow'" IS CORRECT
    [cursorType]="arrow" IS INCORRECT

-->