<presentation [theme]="'light'">

  <slide>
    <img src="./assets/img/chirimoya.svg" width="400px">
    <h1>Chirimoya</h1>
    <h4>Presentation software based on Angular</h4>
    <h3>Luis José Sánchez</h3>
  </slide>

  <slide>
    <h1>Slide 2</h1>
    <p>Lorem fistrum de la pradera condemor qué dise usteer diodenoo pupita pecador ahorarr a gramenawer no puedor pupita.</p>
  </slide>

  <slide>
    <h1>Unordered list</h1>
    <ul>
      <li>Benemeritaarapetecan al ataquerl. </li>
      <li>Condemor mamaar.</li>
      <li>No te digo trigo por no llamarte Rodrigor</li>
      <li>A gramenawer de la pradera</li>
    </ul>
  </slide>

  <slide>
    <h1>Slide 4</h1>
    <p>Bla bla bla...</p>
  </slide>

  <slide>
    <h1>Slide 5</h1>
    <p>Bla bla bla...</p>
  </slide>

</presentation>

<!--

  You can choose presentation theme:
  - light
  - dark
  
  More themes soon. You are welcome to colaborate.

  IMPORTANT: Notice the simple quotes for strings.
  For example:
    [theme]="'dark'" IS CORRECT
    [theme]="dark" IS INCORRECT

  -->