<presentation [theme]="'light'">

  <slide>
    <img src="./assets/img/chirimoya.svg" width="400px">
    <h1>Chirimoya</h1>
    <h4>Presentation software based on Angular</h4>
    <h3>Luis José Sánchez</h3>
  </slide>

  <slide>
    <h1>Slide title here</h1>
    <p>This is a paragraph. You can insert any HTML code inside a slide.</p>
  </slide>

  <slide>
    <h1>Unordered list</h1>
    <ul>
      <li>Benemeritaarapetecan al ataquerl. </li>
      <li>Condemor mamaar.</li>
      <li>No te digo trigo por no llamarte Rodrigor</li>
      <li>A gramenawer de la pradera</li>
    </ul>
  </slide>

  <slide>
    <h1>Font a. icons</h1>
    <p>
      <fa name="snowflake-o fa-3x"></fa>
      <fa name="handshake-o fa-3x"></fa>
      <fa name="bicycle fa-3x"></fa>
      <fa name="battery-full fa-3x"></fa>
      <fa name="coffee fa-3x"></fa>
      <fa name="heart fa-3x"></fa>
      <fa name="desktop fa-3x"></fa>
      <fa name="leaf fa-3x"></fa>
      <fa name="microphone fa-3x"></fa>
      <fa name="money fa-3x"></fa>
      <fa name="paper-plane fa-3x"></fa>
      <fa name="picture-o fa-3x"></fa>
      <fa name="shopping-cart fa-3x"></fa>
      <fa name="star fa-3x"></fa>
      <fa name="tree fa-3x"></fa>
      <fa name="trophy fa-3x"></fa>
      <fa name="wrench fa-3x"></fa>
      <fa name="thumbs-o-up fa-3x"></fa>
      <fa name="umbrella fa-3x"></fa>
      <fa name="spinner fa-3x"></fa>
      <fa name="bar-chart-o fa-3x"></fa>
      <fa name="bitcoin fa-3x"></fa>
      <fa name="arrow-right fa-3x"></fa>
      <fa name="font-awesome fa-3x"></fa>
      <fa name="github fa-3x"></fa>
      <fa name="linux fa-3x"></fa>
      <fa name="linkedin fa-3x"></fa>
      <fa name="twitter fa-3x"></fa>
      <fa name="whatsapp fa-3x"></fa>
      <fa name="vk fa-3x"></fa>
    </p>
  </slide>

  <slide>
    <h1>Font a. icons</h1>
    <div>
      <code>
        &lt;fa name=&quot;linux fa-5x&quot;&gt;&lt;/fa&gt;
      </code>
    </div>
    <br>
    <div>
      <fa name="linux fa-5x"></fa>
    </div>
  </slide>

  <slide>
      <h3><code>app.component.html</code></h3>
      <pre>
        <code>
          <textarea readonly>
            <presentation>
              <slide>
                <h1>Hello world!</h1>
              </slide>
              <slide>
                <p>Lorem ipsum</p>
              </slide>
            </presentation>
          </textarea>
        </code>
      </pre>
    </slide>

  <slide>
    <h1>Source code</h1>
    <p>
      <a
        href="https://github.com/LuisJoseSanchez/chirimoya"
        target="_blank">
        https://github.com/LuisJoseSanchez/chirimoya
      </a>
    </p>
  </slide>

</presentation>

<!--

  You can choose presentation theme:
  - light
  - dark
  
  More themes soon. You are welcome to colaborate.

  IMPORTANT: Notice the simple quotes for strings.
  For example:
    [theme]="'dark'" IS CORRECT
    [theme]="dark" IS INCORRECT

  -->